*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
 
   
}
nav{
    background-color: #000;
    display: flex;
    color: #fff;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;

}
.abstract{
    font-size: 22px;
    padding-left: 10px;
}
.sec-1{
    display: flex;
}
.nav-link{
    text-decoration: none;
    font-size:22px;
    color: #fff;
}
.btn-1{
    padding: 0.5rem 1rem;
    border-radius: 10px;
    background-color: #fff;
    color: #717175;
    font-size: 20px;
    transition: all 1s;
}
.btn-1:hover{
    background-color: hsl(36, 66%, 58%);
    color: #ffffff;
    cursor: pointer;
}
.btn-2{
    padding: 0.5rem 1rem;
    border-radius: 10px;
    background-color: #2338f8;
    color: #ffffff;
    font-size: 20px;
}
.btn-2:hover{
    background-color: #d66161;
    color: #000000;
    cursor: pointer;
}
.lines{
    width: 20px;
    height: 3px;
    background-color: #fff;
    margin-bottom: 3px;
}
.menu{
    display: none;
    padding: 0 15px;
}
@media (max-width:412px){
    .nav-link{
     font-size: 18px;
    }
    .sec-1{
        padding: 0;
    }
    .menu{
        display: block;
    }
    .btn-container{
        display: flex;
        flex-direction: column;
        display: none;
        padding: 20px 0;
    }
    .active{
        display: block;
    }
}
.sec-2{
    background-color: #dadbf1;
    padding: 6rem 2rem;
    text-align: center;
}
h1{
    font-size: 50px;
    padding: 1rem 0;
}
input{
    width: 70%;
    height: 50px;
    padding: 0 10px;
    font-size: 20px;
}
input:focus{
    outline: 1px solid blue;
}
.input-icon{
    position: relative;
   
}
.input-image{
    position: absolute;
    right: 18% ;
    top: 1rem ;
    width: 27px;
}
.sec-3{
    padding: 20px 30px;
    display: flex;
    flex-wrap: wrap;
}
.box-1{
    display: flex;
    padding: 1rem 2rem;
    flex-basis: 380px;
    flex-grow: 1;
}
.box-sub {
    padding: 1rem 2.5rem;
}
.text{
    padding: 2rem 0;
    font-size: 25px;
    
}
@media(max-width:415px){
    .sec-3{
        padding: 20px 0;
        font-size: 15px;
    }
    .text{
        font-size: 18px;
    }
    nav{
        flex-direction: column;
        padding: 20px;
        
    }
    h1{
        font-size: 18px;
    }
    h2{
        font-size: 18px;
    }
    .box-1{
        padding: 16px;
    }
    .box-sub{
        padding: 15px;
    }
    img > .sec-3{
        width: 100px;
    }
    
}
footer{
    background-color: black;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 30px 80px;
}
main{
    display: flex;
    gap: 40px;
    padding: 20px 10px;
}
.footer-div{
    align-self: flex-end;
    font-size: 20px;
}
ul{
    list-style-type: none;
}
li > a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}
a:hover{
    text-decoration: underline;
}
li{
    padding: 5px 0;
}
h3{
    padding: 15px 0;
    font-size: 25px;
}
@media (max-width:880px){
    main{
        flex-wrap: wrap;
    }
    .f-box{
        flex-grow: 1;
        flex-basis: 150px;
    }
}
@media (max-width:412px){
    footer{
        flex-direction: column;
        padding: 30px;

    }
    .footer-div{
        align-self: flex-start;
        font-size: 18px;
    }
}
